body {
    background-color: rgb(67, 67, 67);
}

.top {
    padding: 2vh;
    text-align: center;
    font-family: mojangles;
    color: white;
    font-size: 1.7vw;
    line-height: 2vw;
}

.book {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.book-png {
    width: 50vw;
    height: auto;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.book-container {
    position: relative;    
    align-items: center;
    text-align: center;
    justify-content: center;
}
.exit {
    text-decoration: none;
    position: absolute;
    top: 7%;
    left: 72%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.nav-r {
    top: 42%;
    right: 20%;
    position: absolute;
    width: 4vw;
    height: auto;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-l {
    top: 42%;
    left: 20%;
    position: absolute;
    width: 4vw;
    height: auto;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.text-n {
    font-family: mojangles;
    font-size: 1.3vw;
    text-rendering: geometricPrecision;
    text-align: left;
    line-height: 1.67vw;
}
.text {
    font-family: mojangles;
    font-size: 1.3vw;
    text-rendering: geometricPrecision;
    text-align: left;
    line-height: 1.67vw;
}
.text-special {
    text-align: center;
}

.page1 {
    position: absolute;
    top: 10%;
    left: 27.5%;
    text-align: center;
    justify-content: center;
}
.page2 {
    position: absolute;
    top: 10%;
    left: 52%;
    text-align: left;
    justify-content: center;
}

.hidden {
    color: rgba(0, 0, 0, 0);
    user-select: none;
}
.one {
    color: rgb(0, 0, 170);
}
.two {
    color: rgb(0, 170, 0);
}
.three {
    color: rgb(0, 170, 170);
}
.four {
    color: rgb(170, 0, 0);
}
.five {
    color: rgb(207, 0, 207);
}

.six {
    color: rgb(255, 170, 0);
}
.seven {
    color: rgb(168, 168, 168);
}
.eight {
    color: rgb(84, 84, 84);
}
.nine {
    color: rgb(84, 84, 255);
}
.n {
    color: rgb(180, 104, 77);
}
.t {
    color: rgb(32, 72, 122);
}
.m {
    color: rgb(150, 21, 6);
}

.v {
    color:  rgb(235, 113, 20)
}

.e {
    color: rgb(255, 255, 85);
}
.p {
    color: rgb(222, 177, 45);
}
.b {
    color: #55FFFF;
}


.bowecel {
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
    color: rgb(222, 177, 45);
}
.lacimbora {
    color:  rgb(235, 113, 20);
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}
.gazella {
    color: rgb(150, 21, 6);
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}
.ole {
    color: #75553c;
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}
.simon {
    color: rgb(0, 0, 170);
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}
.ole-c {
    color: #965f35;
}
.ole-c-s {
    color: #463223;
}
.bigger {
    color: rgb(207, 0, 207);
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}
.nina {
    color: rgb(170, 0, 0);
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}
.lucas {
    color: #00aaaa;
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}

.c {
    color: rgb(255, 85, 85);
}
.bold {
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
    letter-spacing: -0.2vw;
}
.bold-special {
    font-family: mojangles-b;
    font-size: 2vw;
    text-rendering: geometricPrecision;
    line-height: 0;
}
.bold-medium {
    font-family: mojangles-b;
    font-size: 1.2vw;
    text-rendering: geometricPrecision;
    line-height: 3vh;
}
.bold-medium-s {
    font-family: mojangles-b;
    font-size: 1.4vw;
    text-rendering: geometricPrecision;
    line-height: 0vh;
}


.content {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    padding-left: 8vw;
    padding-right: 8vw;
    user-select: none;
    text-align: center;
    justify-content: center;
}
.bottom {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    padding-left: 8vw;
    padding-right: 8vw;
    user-select: none;
    text-align: center;
    justify-content: center;
}
.report-bug {
    width: 22vw;
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.button {
    display: inline;
    width: 10vw;
    height: auto;
    user-select: none;
    text-decoration: none;
    padding: 2vw;
}
.button-png {
    display: inline;
    width: 20vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.info-png {
    display: inline;
    width: 2vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


.tooltip-png {
    display: inline;
    width: 25vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    left: 7%;
    top: 20%;
}
.tooltip-png2 {
    display: inline;
    width: 30vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    left: 29%;
    top: 18.7%;
}
.tooltip-png3 {
    display: inline;
    width: 19.7vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    left: 65.5%;
    top: 18.7%;
}
.bold-medium-ss {
    text-align: center;
    font-family: mojangles-b;
    font-size: 1vw;
    text-rendering: geometricPrecision;
    line-height: 4vw;
}
.pic1 {
    width: 20vw;
    height: auto;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
}

.emoji1special {
    width: 1.2vw;
    height: auto;
    align-items: center;
    text-align: center;
}

.end-outer {
    display: inline-block;
    background: black;
    mix-blend-mode: multiply;
    padding: 0px;

}

.end-wrapper {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: black;
    padding: 0px;
    position: absolute;
    top: -2vh;
}


.end-text, .end-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
}


.end-text {
    font-family: mojangles-b;
    font-size: 1.5vw;
    background: white;       /* white background is the mask */
    mix-blend-mode: screen;  /* on the TEXT, not a container */
    display: flex;
    align-items: center;
}